<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ app_directory }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory "{{ app_directory }}">
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
